@config "./tailwind.vite.config.js";
@tailwind base;
@tailwind components;

.bg-button {
  @apply bg-gradient-to-b from-gray-50 to-gray-100 dark:from-gray-700/60 dark:to-gray-725/60 backdrop-blur-md;
}

.bg-button-teal {
  @apply bg-gradient-to-b from-teal-50 to-teal-100 dark:from-teal-600 dark:to-teal-700;
}

.bg-button-yellow {
  @apply bg-gradient-to-b from-yellow-50 to-yellow-100 dark:from-yellow-500 dark:to-yellow-600;
}

.bg-button-active {
  @apply bg-gradient-to-b from-gray-50 to-gray-100 dark:from-gray-700/60 dark:to-gray-725/60;
}

.ring-button {
  @apply ring-1 ring-inset ring-black/5 dark:ring-white/5 hover:ring-black/20 dark:hover:ring-white/20;
}

.text-button {
  @apply text-gray-800 dark:text-white text-opacity-90 dark:text-opacity-80 hover:text-opacity-100 dark:hover:text-opacity-100;
}

button {
  @apply outline-2 outline-offset-2 focus-visible:outline focus-visible:outline-teal-600;
}

@tailwind utilities;

body,
html,
#root {
  height: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-lastpass-icon-root="true"] {
  display: none;
}

button,
a {
  cursor: default;
}

.editor h1 {
  line-height: 1.5;
  font-size: 2rem;
}
.editor h2 {
  line-height: 2;
  font-size: 1.5rem;
}
.editor h3 {
  font-weight: bold;
  font-style: italic;
}

.editor p + p {
  margin-top: 10px;
}

.editor > * {
  line-height: 1.5;
  font-size: 1rem;
}

.editor.preview > p:only-child {
  display: inline;
}

.editor.preview > p:only-child > br:last-child {
  height: 16px;
  position: absolute;
  content: "";
}

.editor.preview:has(> p:only-child):after {
  content: attr(data-value);
  margin-left: 20px;
  position: absolute;
  pointer-events: none;
  color: rgb(156 163 175);
  display: inline-flex;
  white-space: nowrap;
}

.editor > * > [data-lexical-decorator="true"] {
  vertical-align: top;
}

.editor
  > *
  > [data-lexical-decorator="true"]:not([data-lexical-inline="true"]):not(
    [data-lexical-layout-element="true"]
  ) {
  display: inline-flex;
}

.editor
  > *
  > [data-lexical-decorator="true"]:not([data-lexical-inline="true"])
  .selection-box {
  padding-right: 0.375rem;
}

.editor
  > *
  > :not([data-lexical-decorator="true"]:not([data-lexical-inline="true"]))
  + [data-lexical-decorator="true"]:not([data-lexical-inline="true"])
  .selection-box {
  padding-left: 0.375rem;
}

.focus-bg {
  opacity: 0;
}

.focus-container:has(.editor:focus) .focus-bg {
  opacity: 1;
}

.focus-container:has(.focus-permanent) .focus-bg {
  opacity: 1;
}

.auto-complete::after {
  content: attr(data-value);
}

.saturation {
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0)),
    linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.hue {
  background: linear-gradient(
    to bottom,
    #f00 0%,
    #ff0 17%,
    #0f0 33%,
    #0ff 50%,
    #00f 67%,
    #f0f 83%,
    #f00 100%
  );
}
