@tailwind base;
@tailwind components;

/*
.bg-button {
  @apply bg-gradient-to-b from-gray-50 to-gray-100 dark:from-gray-700/20 dark:to-gray-725/20 backdrop-blur-md;
}

.bg-button-active {
  @apply bg-gradient-to-b from-gray-50 to-gray-100 dark:from-gray-700/60 dark:to-gray-725/60;
}
*/

.bg-button-teal {
  @apply bg-gradient-to-b from-teal-50 to-teal-100 dark:from-teal-600 dark:to-teal-700;
}

.bg-button-yellow {
  @apply bg-gradient-to-b from-yellow-50 to-yellow-100 dark:from-yellow-500 dark:to-yellow-600;
}

.ring-button {
  @apply ring-1 ring-gray-200 hover:ring-gray-300 dark:ring-gray-700 dark:hover:ring-gray-600 duration-75 transition-[color,box-shadow]; /* ring-1 ring-inset ring-black/5 dark:ring-white/5 hover:ring-black/20 dark:hover:ring-white/20; */
}

.ring-button-teal {
  @apply ring-1 ring-teal-400 hover:ring-teal-500 dark:ring-teal-600 dark:hover:ring-teal-500 duration-75 transition-[color,box-shadow]; /* ring-1 ring-inset ring-black/5 dark:ring-white/5 hover:ring-black/20 dark:hover:ring-white/20; */
}

.ring-button-yellow {
  @apply ring-1 ring-yellow-200 hover:ring-yellow-300 dark:ring-yellow-500 dark:hover:ring-yellow-400 duration-75 transition-[color,box-shadow]; /* ring-1 ring-inset ring-black/5 dark:ring-white/5 hover:ring-black/20 dark:hover:ring-white/20; */
}

.text-button {
  @apply text-gray-800 dark:text-white text-opacity-90 dark:text-opacity-60 hover:text-opacity-100 dark:hover:text-opacity-100 font-medium;
}

button {
  user-select: none;
}

button,
a {
  @apply outline-2 outline-offset-2 focus-visible:outline focus-visible:outline-teal-600;
}

@tailwind utilities;

body,
html,
#root {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-lastpass-icon-root="true"] {
  display: none;
}

button,
a {
  cursor: default;
}

.editor h1 {
  font-size: 2rem;
}
.editor h2 {
  font-size: 1.5rem;
}
.editor h3 {
  font-weight: bold;
  font-style: italic;
}

.block-node > p,
.block-node > h1,
.block-node > h2,
.block-node > h3,
.block-node > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.editor > p,
.editor > h1,
.editor > h2,
.editor > h3,
.editor > div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.editor > * {
  line-height: 1.5;
  font-size: 1rem;
}

/*
.editor.preview > p:only-child {
  display: inline;
}
*/

.editor.preview > p:only-child > br:last-child:not(:only-child) {
  height: 16px;
  position: absolute;
  content: "";
}

[data-lexical-cursor="true"] {
  position: absolute;
  height: 0px;
  width: 100%;
  margin: 0px !important;
  margin-top: -10px !important;
}

.editor [data-lexical-cursor="true"]:first-child {
  margin-top: 0px !important;
}

.editor:before {
  content: attr(data-placeholder);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  padding: 0 0.625rem;
}

.editor:focus [data-lexical-cursor="true"]:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 40px;
  left: 0px;
  animation: blink 1000ms steps(1) infinite;
}

.dark .editor:focus [data-lexical-cursor="true"]:after {
  border-bottom: 1px #fff solid;
}

.editor:focus [data-lexical-cursor="true"]:after {
  border-bottom: 1px black solid;
}

/*
.editor:focus [data-lexical-cursor="true"]:first-child:after {
  top: 0px;
  transform: translateY(-5px);
}
*/

/*
.editor.preview:has(> p:only-child):after {
  content: attr(data-value);
  margin-top: 5px;
  pointer-events: none;
  color: rgb(156 163 175);
  display: inline-flex;
  white-space: nowrap;
}

.editor.preview:has(> p:only-child br:only-child) + .preview {
  display: none;
}
*/

.editor:has(> p:only-child) + .preview {
  display: flex;
}

.editor p [data-lexical-decorator="true"] {
  vertical-align: top;
}

.editor
  p
  [data-lexical-decorator="true"]:not([data-lexical-inline="true"]):not(
    [data-lexical-layout-element="true"]
  ) {
  display: inline-flex;
}

.editor
  p
  [data-lexical-decorator="true"]:not([data-lexical-inline="true"])
  .selection-box {
  padding-right: 0.375rem;
}

.editor
  p
  :not([data-lexical-decorator="true"]:not([data-lexical-inline="true"]))
  + [data-lexical-decorator="true"]:not([data-lexical-inline="true"])
  .selection-box {
  padding-left: 0.375rem;
}

.focus-bg {
  opacity: 0;
}

.focus-container:has(.editor:focus) .focus-bg {
  opacity: 1;
}

.focus-container:has(.focus-permanent) .focus-bg {
  opacity: 1;
}

.auto-complete::after {
  content: attr(data-value);
}

.saturation {
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0)),
    linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.hue {
  background: linear-gradient(
    to bottom,
    #f00 0%,
    #ff0 17%,
    #0f0 33%,
    #0ff 50%,
    #00f 67%,
    #f0f 83%,
    #f00 100%
  );
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(55 65 81);
  height: 0.25rem;
  border-radius: 0.25rem;
}
input[type="range"]::-moz-range-track {
  background: rgb(55 65 81);
  height: 0.25rem;
  border-radius: 0.25rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: calc((4px - 16px) / 2); /* Centers thumb on the track */
  background-color: rgb(75 85 99);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: rgb(75 85 99);
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-thumb {
  background-color: rgb(107 114 128);
}
input[type="range"]:focus::-moz-range-thumb {
  background-color: rgb(107 114 128);
}

.gradient-border:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: calc(100%);
  width: calc(100%);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: 4px;
  z-index: -2;
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
}

.gradient-border.selected:before {
  background: white;
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-color: white;
  z-index: -1;
  border-radius: 4px;
}

.dark .gradient-border:after {
  background-color: #12161e;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.editor:has(.prompt-container) {
  color: rgba(0, 0, 0, 0.65);
  transition: color 0.15s ease;
}

.dark .editor:has(.prompt-container) {
  color: rgba(255, 255, 255, 0.65);
}

.prompt-container {
  padding: 0.125rem 0.4rem 0.125rem 0.2rem;
  margin: -0.125rem 0.25rem;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
  border-radius: 0.25rem;
  color: white;
}

.prompt-container:before {
  content: attr(data-initializer);
  opacity: 0.5;
  transform: scale(0.9);
  text-align: center;
  width: 1rem;
  margin-right: 0.2rem;
  position: relative;
  display: inline-block;
}

.block-node {
  position: relative;
  border-style: solid;
  border-color: rgba(0, 150, 0, 0.12);
  background-color: rgba(0, 255, 0, 0.04);
  /* box-shadow: inset 0px 0px 0px 1px rgba(150, 0, 0, 0.12); */
  /*
  border-top-width: 2px;
  border-bottom-width: 2px;
  margin: -2px 0px;
  */
  pointer-events: none;
  /*
  margin: 0px -10px;
  border-radius: 5px;
  */
}

/*
.block-node:before {
  content: attr(data-function);
  display: block;
  padding: 10px;
  font-weight: 500;
  font-size: 0.875rem;
  background-color: #f5f5f5;
  border-radius: 6px 6px 0 0;
}
*/

.block-node > * {
  pointer-events: auto;
  margin-left: 100px;
}

.block-node > *:not([data-lexical-cursor="true"]):before {
  content: "-";
  position: absolute;
  margin-left: -100px;
  font-weight: 700;
  font-size: 0.675rem;
  padding-top: 0.25rem;
  opacity: 50%;
  width: 100px;
  text-transform: uppercase;
  color: rgba(0, 100, 0, 1);
}

/*
.block-node > .block-node:before {
  padding-top: 0.875rem;
}
*/

.block-node > *:not([data-lexical-cursor="true"]):nth-child(1):before {
  content: var(--p1, "-");
  opacity: 100%;
}

.block-node > *:not([data-lexical-cursor="true"]):nth-child(2):before {
  content: var(--p2, "-");
}

.block-node > *:not([data-lexical-cursor="true"]):nth-child(3):before {
  content: var(--p3, "-");
}

.block-node:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  height: 10px;
  top: -10px;
  cursor: text;
  pointer-events: auto;
}

.editor > .block-node:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  height: 10px;
  top: -10px;
  cursor: text;
  pointer-events: auto;
}
